* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.container .content video {
  width: 500px;
  height: 284px;
}

.container .danmu {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
}

.tool-box {
}

